.text-align-center {
    text-align: center;
}

#myBoard {
    width: 100%;
    max-width: 600px;
    height: auto;
    overflow: auto;
    margin: 0 auto;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.highlight-white {
    box-shadow: inset 0 0 6px 3px rgba(255, 255, 0, 0.7);
}

.highlight-black {
    box-shadow: inset 0 0 6px 3px rgba(0, 0, 255, 0.7);
}

.highlight-hint {
    box-shadow: inset 0 0 6px 3px rgba(255, 0, 0, 0.7);
}

.no-underline {
    text-decoration: none;
    color: inherit;
}

.no-outline:focus {
    outline: none;
    box-shadow: none;
}

.btn-header {
    font-size: 20px;
    font-weight: bold;
    padding: 8px 16px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.btn-header:hover {
    background-color: #0056b3;
}
